body{
  background-color: #002266;
  color: white;
  text-align: center;
  font-family: 'Shadows Into Light', cursive;
}

#sub_btn{
  width: 100px;
  height: 50px;
  color: red;
  background-color: yellow;
  border-radius: 30px;
  text-align: center;
}
